.container {
	position:absolute;
	top:20%;
	left:50%;
	transform:translate(-50%,-20%);
	border-radius:10px;
	background:#ddd;
	font-size:18px;
	width:600px;
	padding:20px;
}

.container2 {
	position:absolute;
	top:87%;
	left:50%;
	transform:translate(-50%,-87%);
	border-radius:10px;
	background:#ddd;
	width:600px;
	padding:20px;
}

.container label {
	font-size:14px; 
	margin-top:10px;
	
}

.kembali {
	text-decoration: none;
	position: absolute;
	top: 500px;
	left: 20px;
	color: black;
	background:gray;
	font-weight:bold;
	padding:10px;
	border-radius:10px;
}

.container  button[type="submit"]{
	float:left; 
	font-size:14px; 
	color:black; 
	margin-top:20px; 
	padding:10px; 
	font-weight:bold;
}

.container input[type="text"]{
	width: 400px;
	font-size:14px; 
}

.container select{
	width: 200px;
	font-size:14px; 
}

.container  button[type="reset"]{
float:right; 
font-size:14px; 
color:black; 
margin-top:20px; 
padding:10px; 
font-weight:bold;
}

.clear{
	clear:both;
}